
/* body */
body {
  color: #fff;
  font-family: 'NanumSquareRound', sans-serif;
  background-color: #191f2c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: 512px;
  margin: auto;
}

/* 스크롤바 전체 */
::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 track */
::-webkit-scrollbar-track {
  background-color: #272b38;
}

/* 스크롤바 thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* 스크롤바 thumb가 hover 상태일 때 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* header */
.header {
  background-color: #ffffff;
  color: white;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  margin: 0px;
}

.person {
  width: 28px;
  height: 28px;
 
}

.header_sort {
  width: 100%;
  height: 52px;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;

  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

/* content */
.content {
  background-color: #272b38;
  flex: 1;
  display: flex;
  flex-wrap: wrap; /* 자식 요소가 넘칠 경우 다음 줄로 내려감 */
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: calc(100vh - 192px);
}




@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}

.product-container {
  display: flex;
  justify-content: center;
}

.product-card {
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px 10px;
  background: #fafafa;
  border-radius: 15px;
  width: 200px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 15px;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 10px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 5px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 15px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}


/* footer */
.footer {
  background-color: white;
  height: 60px;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 512px;
  
}

.footer_nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 512px;
  position: fixed;
  bottom: 0;
}

.footer_nav img {
  width: 40px;
  height: 50px;
  padding-right: 25px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* 선택된 아이콘의 투명도를 50%로 설정 */
.selectedIcon {
  opacity: 0.5; 
}

