.create-post-button-container {
    display: flex;
    align-items: center;
  }
  
  .create-post-button {
    background-color: #3e3e3e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .create-post-button:hover {
    background-color: #5a5a5a;
  }
  